[defaults]
inventory = ./inventory/hosts

ask_become_pass = true

remote_temp = /tmp
forks = 150
remote_user = saeed

roles_path = ./roles
#deprecation_warnings = False

gather_facts: false # best practise true and disable in task
[ssh_connection]
pipelining = True